* {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

@font-face {
    font-family: "PTSans-Regular";
    src: url("../fonts/PT-Sans/PTS55F.ttf") format("truetype");
}

body {
    background-color: black;
    color: white;
    font-family: "PTSans-Regular", Arial, Helvetica, sans-serif;
}

.play,
.meet,
.discuss {
    flex: 1.5;
}

.play {
    background: url("../images/play.png") center no-repeat;
    background-size: contain;
    height: 317px;
    width: 713px;
}

.meet {
    background: url("../images/meet.png") center no-repeat;
    background-size: contain;
    height: 367px;
    width: 709px;
}

.discuss {
    background: url("../images/discuss.png") center no-repeat;
    background-size: contain;
    height: 308px;
    width: 499px;
}

header {
    text-align: center;
    display: block;
}

.logo {
    margin-top: 55px;
    display: flex;
    height: 10%;
    align-self: center;
    flex-grow: 0.3;
}

.shadow {
    background: url("../images/shadow.png") center top no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header>.shadow>h1 {
    display: block;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    line-height: 3.25;
    font-weight: bold;
}

header>.shadow>h2 {
    font-size: 0.7em;
    color: #999999;
    line-height: 1.75;
}

.download_btn {
    border-radius: 4px;
    background-color: rgb(38, 168, 219);
    box-shadow: 0px 3px 0px 0px rgba(18, 130, 174, 0.004), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.3);
    width: 260px;
    height: 50px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: "PTSans-Regular", Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 2.1;
    text-align: center;
}

.footer-spesific{
	margin-top: 0 !important;
	margin-bottom: 5%;
}

content {
    display: block;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}

section {
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

section:last-child {
    margin-bottom: 0;
}

article {
    flex: 1;
}

article>h1 {
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    line-height: 3.25;
}

article>p {
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.75;
}

footer {
    display: block;
    text-align: center;
}

.shadow-upside-down {
    padding-bottom: 1%;
    background: url("../images/shadow-upside-down.png") center top no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer>.shadow-upside-down>h1 {
    margin-top: 7%;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    line-height: 3.25;
    font-weight: bold;
}

@media screen and (max-device-width: 640px),
(max-width: 580px) {
    section {
        flex-direction: column;
    }
    .play {
        background: url("../images/play-mini.png") center no-repeat;
        background-size: contain;
        height: 189px;
        width: 425px;
    }
    .meet {
        display: none;
    }
    .meet-for-device {
        background: url("../images/meet-mini.png") center no-repeat;
        background-size: contain;
        height: 220px;
        width: 425px;
    }
    .discuss {
        background: url("../images/discuss-mini.png") center no-repeat;
        background-size: contain;
        height: 216px;
        width: 350px;
    }
    article>h1 {
        padding-top: 5%;
        line-height: 1.8;
    }
}
