* {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

@font-face {
    font-family: "PTSans-Regular";
    src: url("../fonts/PT-Sans/PTS55F.ttf") format("truetype");
}

body {
    background-color: black;
    color: white;
    font-family: "PTSans-Regular", Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    display: block;
}

.header-logo {
    margin-top: 55px;
    display: flex;
    height: 10%;
    align-self: center;
    flex-grow: 0.3;
}

.header-shadow {
    background: url("../images/shadow.png") center top no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-caption1 {
    display: block;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    line-height: 3.25;
    font-weight: bold;
}

.header-caption2 {
    font-size: 0.7em;
    color: #999999;
    line-height: 1.75;
}

.header-download_btn {
    border-radius: 4px;
    background-color: rgb(38, 168, 219);
    box-shadow: 0px 3px 0px 0px rgba(18, 130, 174, 0.004), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.3);
    width: 260px;
    height: 50px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 2.1;
    text-align: center;
}

.content {
    display: block;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}

.content-section {
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.section:last-child {
    margin-bottom: 0;
}

.content-section-article {
    flex: 1;
}

.content-section-article-header {
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    line-height: 1.25;
}

.content-section-article-header-paragraph {
    padding-top: 6%;
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.75;
}

.content-section-play,
.content-section-meet,
.content-section-discuss {
    flex: 1.5;
}

.content-section-play {
    background: url("../images/play.png") center no-repeat;
    background-size: contain;
    height: 317px;
    width: 713px;
}

.content-section-meet {
    background: url("../images/meet.png") center no-repeat;
    background-size: contain;
    height: 367px;
    width: 709px;
}

.content-section-discuss {
    background: url("../images/discuss.png") center no-repeat;
    background-size: contain;
    height: 308px;
    width: 499px;
}

.footer {
    display: block;
    text-align: center;
}

.footer-button--spesific{
    margin-bottom: 4%;
}

.footer-shadow{
    padding-bottom: 1%;
    background: url("../images/shadow-upside-down.png") center top no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-caption1--spesific{
    margin-top: 7%;
}

@media screen and (max-device-width: 640px),
(max-width: 580px) {
    .content-section {
        flex-direction: column;
    }
    .content-section-play {
        background: url("../images/play-mini.png") center no-repeat;
        background-size: contain;
        height: 189px;
        width: 425px;
    }
    .content-section-meet {
        display: none;
    }
    .content-section-meet_for_device {
        background: url("../images/meet-mini.png") center no-repeat;
        background-size: contain;
        height: 220px;
        width: 425px;
    }
    .content-section-discuss {
        background: url("../images/discuss-mini.png") center no-repeat;
        background-size: contain;
        height: 216px;
        width: 350px;
    }
    .content-section-article-header {
        padding-top: 5%;
        line-height: 1.8;
    }
}
